In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [3]:
df = pd.read_csv('nyc-rolling-sales.csv')

In [4]:
df.columns = df.columns.str.strip().str.upper()

In [5]:
numeric_columns = ['LAND SQUARE FEET', 'GROSS SQUARE FEET', 'SALE PRICE']
for col in numeric_columns:
    df[col] = df[col].replace({',': ''}, regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
df = df.dropna(subset=['SALE PRICE'])

In [8]:
df.head

<bound method NDFrame.head of        UNNAMED: 0  BOROUGH   NEIGHBORHOOD  \
0               4        1  ALPHABET CITY
3               7        1  ALPHABET CITY
4               8        1  ALPHABET CITY
6              10        1  ALPHABET CITY
9              13        1  ALPHABET CITY
...           ...      ...            ...
84543        8409        5        WOODROW
84544        8410        5        WOODROW
84545        8411        5        WOODROW
84546        8412        5        WOODROW
84547        8413        5        WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
6      07 RENTALS - WALKUP APARTMENTS                                2B
9      08 RENTALS - ELEVATOR APARTMENTS                               2
...                                            ...                  ...
84543  02 TWO FAMILY DWELLINGS                                        1
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  \
0        392    6                                  C2            153 AVENUE B
3        402   21                                  C4     154 EAST 7TH STREET
4        404   55                                  C2  301 EAST 10TH   STREET
6        406   32                                  C4            210 AVENUE B
9        387  153                                  D9     629 EAST 5TH STREET
...      ...  ...       ...                       ...                     ...
84543   7349   34                                  B9           37 QUAIL LANE
84544   7349   78                                  B9        32 PHEASANT LANE
84545   7351   60                                  B2        49 PITNEY AVENUE
84546   7100   28                                  K6   2730 ARTHUR KILL ROAD
84547   7105  679                                  P9       155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0      ...                 5                 0            5            1633.0
3      ...                10                 0           10            2272.0
4      ...                 6                 0            6            2369.0
6      ...                 8                 0            8            1750.0
9      ...                24                 0           24            4489.0
...    ...               ...               ...          ...               ...
84543  ...                 2                 0            2            2400.0
84544  ...                 2                 0            2            2498.0
84545  ...                 2                 0            2            4000.0
84546  ...                 0                 7            7          208033.0
84547  ...                 0                 1            1           10796.0

       GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0                 6440.0        1900                          2
3                 6794.0        1913                          2
4                 4615.0        1900                          2
6                 4226.0        1920                          2
9                18523.0        1920                          2
...                  ...         ...                        ...
84543             2575.0        1998                          1
84544             2377.0        1998                          1
84545             1496.0        1925                          1
84546            64117.0        2001                          4
84547             2400.0        2006                          4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
0                                  C2   6625000.0  2017-07-19 00:00:00
3                                  C4   3936272.0  2016-09-23 00:00:00
4                                  C2   8000000.0  2016-11-17 00:00:00
6                                  C4   3192840.0  2016-09-23 00:00:00
9                                  D9  16232000.0  2016-11-07 00:00:00
...                               ...         ...                  ...
84543                              B9    450000.0  2016-11-28 00:00:00
84544                              B9    550000.0  2017-04-21 00:00:00
84545                              B2    460000.0  2017-07-05 00:00:00
84546                              K6  11693337.0  2016-12-21 00:00:00
84547                              P9     69300.0  2016-10-27 00:00:00

[69987 rows x 22 columns]>

In [9]:
df['BOROUGH_BIN'] = df['BOROUGH']

In [10]:
for col in ['LAND SQUARE FEET', 'GROSS SQUARE FEET']:
    df[col] = df.groupby('BOROUGH_BIN')[col].transform(lambda x: x.fillna(x.median()))

In [11]:
for col in ['LAND SQUARE FEET', 'GROSS SQUARE FEET']:
    df[col] = df[col].fillna(df[col].median())

In [12]:
df = df.drop(columns=['BOROUGH_BIN'])

In [13]:
for col in ['LAND SQUARE FEET', 'GROSS SQUARE FEET', 'SALE PRICE']:
    df[col] = df[col].clip(lower=0)

In [14]:
print("After cleaning:")
print(df.isna().sum())
print(f"Remaining rows: {len(df)}")

After cleaning:
UNNAMED: 0                        0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64
Remaining rows: 69987

In [15]:
df.to_csv('nyc_property_sales_cleaned.csv', index=False)

In [16]:
df

,UNNAMED: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17 00:00:00
6,10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,...,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0,2016-09-23 00:00:00
9,13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,...,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0,2016-11-07 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400.0,2575.0,1998,1,B9,450000.0,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498.0,2377.0,1998,1,B9,550000.0,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000.0,1496.0,1925,1,B2,460000.0,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796.0,2400.0,2006,4,P9,69300.0,2016-10-27 00:00:00